/*
Project Name: Asados Doña Flor restaurant website
Client: General Assembly Boston
Author: Dana Gooley
Developer FEWD 28
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Amatic SC';
  font-size: 30px;
  font-weight: 400;
  
}

p {
  font-family: 'Nobile'
  font-size: 20px;
  font-weight: 400;
  color: #02062D;
}

h1 {
  font-family: 'Barrio';
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 2.5px;
}

h2 {
  font-family: 'Barrio';
  font-size: 50px;
  font-weight: 400;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

nav {
 
}

a {
  text-decoration: none;
  color: #B2020F;
}

img {
  width: 960px;
  height: auto;
}

/******************************************
/* MAIN LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: auto;
  margin: 0 auto;
}

header {
  text-align: left;
  padding: 30px;
  clear: both;

}

/*header h1 {
  float: left;
}*/

header h2 {
  padding-top: 10px;
  padding-bottom: 40px;
  float: left;
  clear: both;
}

header nav {
  float: right;
  margin-top: 15px;
  letter-spacing: 1.5px;
  padding-bottom: 20px;

}

ul {
  float: right;
}

header nav ul li {
  /*display: inline-block;*/
  /*margin: 0 0 0 40px;
  padding-right: 20px;*/
  width: 100%;
  font-size: 14px;
 /* border: 0.5px solid #B2020F;
  border-radius: 5%;*/
  /*padding: 2%;*/
  clear: both;
  float: right;
}

header nav ul li a {
  color: #B2020F;
  /*padding: 1%;*/
}

/*img {
  margin-left: 20%;
  margin-right: 20%;
}*/

footer nav {
 text-align: center;
  margin-top: 3%;
  letter-spacing: 1.5px;
}

footer nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 16px;
}

header nav ul li a {
  color: #B2020F;
}

iframe {
padding: 20px;
/*float: right;
clear: both;*/
}

form {
  display: inline-block;
  /*float: left;*/
  clear: both;
  margin: 10% 30%;
}

hr {
  clear: both;
}

.logo {
  float: left;
}

.navbar {
  float: right;
  clear: both;
  display: inline-block; 
}


#home {
/*  background: url(../images/asados.jpg) no-repeat center center;
  background-size: cover;
  clear: both;*/
 
}

#home-text {
  background: white;
 /* opacity: 0.5;*/
  height: auto;
  width: 50%;
 
/*  float: right;
  clear: both;*/

}


#logo {
  float: left;
}

#footer {
  clear: both;
}


/******************************************
/* LAYOUT: SPLASH PAGE
/*******************************************/



#splash {

clear: both;
font-size: 30px;
color: black;
}

.enter_spanish {
  font-size: 30px;
  border-radius: 5%;
  border: 2px solid #B2020F;
  text-align: center;
}

.enter_english {
  font-size: 30px;
  border-radius: 5%;
  border: 2px solid #B2020F;
  text-align: center;
}

#english{

display: none;
background: url(../images/asados.jpg) center center no-repeat;
background-size: cover;

}

#spanish {
  display: none;
  background: url(../images/asados.jpg) center center no-repeat;
  background-size: cover;
}

/******************************************
/* LAYOUT: ABOUT
/*******************************************/

#about {
/*  background: url(../images/family.jpg) no-repeat center center;
  background-size: cover;
  clear: both;*/
  
}

#about-page {

}


/******************************************
/* LAYOUT: CATERING
/*******************************************/
.catering {
  float: right;
}

#catering {

 /* background: url(../images/homepage.jpg) no-repeat center center;
  background-size: cover;
  clear: both;*/

}


form {
  display: inline-block;
  /*float: left;*/
  clear: both;
  margin: 10% 30%;

}

/******************************************
/* LAYOUT: CONTACT
/*******************************************/

#message {
  width: 30%;
  height: 50%;

}

input {
  float: right;
}

#contact {
  display: inline-block;
  clear: both;

}

/******************************************
/* LAYOUT: HOURS-LOCATION
/*******************************************/

iframe {
padding: 20px;
/*float: right;*/
}

#hours-location {
  background: url(../images/menu-3.jpg) no-repeat center center;
  background-size: cover;
  clear: both;

}




/******************************************
/* LAYOUT: MENU
/*******************************************/
.menu-font {
  clear: both;
  line-height: 2em;
}

.menu-font + p{
  float: left;
  letter-spacing: .2em;
  line-height: 2em;/*
  margin-bottom: 15px;*/
 width: 70%;
clear: both;
}

.cost {
  font-size: 15px;
  font-weight: 600;
  float: right;
line-height: 2em;
/*  width: 30%;*/
  /*clear: both;*/
}

.menu-title {
/*  margin: 2% 0;*/
  float: left;
  clear: both;
  margin: 15px 0;
}


.hide {
  display: none;
}

#menu {
padding: 20px;

}

#menu-page {
  background: url(../images/menu-2.jpg) center center no-repeat;
  background-size: cover;



}

